.page-header
  %h1
    Join a Project
    %small
      Get involved

- @categories.each do |category|
  = link_to category.project_category, show_projects_path(project_category_id: category.id), method: :get, class: 'btn btn-default inline'
