//------------------------------------------
//
// Home Page Styles
//
//------------------------------------------

//
// Body background
//
body {
    background-color: #DAEBF5;
    background-repeat: no-repeat;
    background-size: cover;
}

//
// Wrap
//
.header {
    padding: 0 15px;
}

@media screen and ( min-width: 768px ) {
    .header {
        padding: 0;
    }
}

//
// Page header
//
.page-header {
    padding-bottom: 9px;
    margin: 40px 0px 5px;
    border-bottom: none;
    color: #4E82A0;
}

.home .header {
    border-bottom: solid 2px #78A6C2;
    background-color: white;
    padding-bottom: 25px;
}

//
// Home project buttons
//
.btn {
    font-weight: 900;
    margin: 3px;
}

.btn:nth-of-type( 1 ) {
    color: #FFAAAA;
    border: solid 1px #FFAAAA;
}

.btn:nth-of-type( 2 ) {
    color: #B8E55E;
    border: solid 1px #B8E55E;
}

.btn:nth-of-type( 3 ) {
    color: #78A6C2;
    border: solid 1px #78A6C2;
}

.btn:nth-of-type( 4 ) {
    color: #8B1558;
    border: solid 1px #8B1558;
}

.btn:nth-of-type( 5 ) {
    color: #F5C365;
    border: solid 1px #F5C365;
}

.btn:nth-of-type( 6 ) {
    color: #24857B;
    border: solid 1px #24857B;
}

.btn:hover {
    background-color: #fff;
}

//
// Home Project feed
//
.home .project-feed {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.home .project {
    border: solid 1px #78A6C2;
    margin: 35px 0;
    background-color: white;
}

.home .project .project-header {
    background-color: #78A6C2;
    height: 40px;
}

.home .project .name {
    color: white;
}

.home .project .user {
    text-align: right;
}

.home .project .list-group-item {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

//
// XS Devices
//
@media screen and ( max-width: 768px ) {
    .home .project-feed {
      width: 90%;
      margin: 0 5%;
    }

    .btn {
        margin: 4px 2px;
    }

    .home .page-header h1 {
        font-size: 30px;
    }

    .home .page-header small {
        display: block;
        line-height: 2;
    }

    img {
        max-width: 100%;
    }
}

//------------------------------------------
//
// Primary navbar
//
//------------------------------------------
.navbar-default {
    background-color: #78A6C2;
}

.navbar-header {
    margin-left: -15px !important;
}

.navbar-default .logo {
    height: 50px;
    float: left;
}

.navbar-default .title {
    display: none;
}

//
// XS Devices
//
@media screen and ( max-width: 768px ) {
    .navbar-default .title {
        display: inline-block;
        float: left;
        font-size: 35px;
        background-color: transparent;
        margin: 0 25px 0 10px;
    }

    .navbar-default .title a {
        color: white !important;
    }

    .navbar-default .title a:hover {
        text-decoration: none;
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #4E82A0;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

//
// User Panel Navbar
//
.navbar-default .navbar-nav .user-panel {
    position: absolute;
    right: 0;
    background-color: #DAEBF5;
    width: 125px;
    height: 50px;
    padding: 14px;
}

.navbar-default .navbar-nav .user-panel li {
    display: inline-block;
}

.navbar-default .navbar-nav .user-panel li a {
    color: #326989;
    font-weight: 900;
}

.navbar-default .navbar-nav .user-panel .user-icon {
    height: 20px;
    display: inline-block;
}

// Formatting the menu
.hmenu {
    margin:0;
    padding:0;
    
    li {
        display:inline;
        padding:0;
        margin:0;
        margin-left: 5px;
  }
}

// Taking out dots from unordered lists and removing default
// margins and padding
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Flash success
.update, .success {
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880;
}

//------------------------------------------
//
// Footer Styles
//
//------------------------------------------
.footer {
    background-color: white;
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    border-top: solid 3px #78A6C2;
    border-bottom: solid 8px #78A6C2;
}

.footer .title {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: #4E82A0;
}

.footer .image {
    display: block;
    margin: 0 auto;
    width: 250px;
}

//
// >= Small Devices
//
@media screen and ( min-width: 768px ) {
    .footer .image {
        width: 20%;
    }
}

//
// Footer menu
//
.footer-menu {
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.footer-menu li {
    list-style-type: none;
    text-transform: uppercase;
    margin: 0 5px;
    text-align: center;
    font-size: 9px;
}

@media screen and ( min-width: 450px ) {
    .footer-menu li {
        font-size: 14px;
    }
}