// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//------------------------------------------
//
// New Project Page Styles
//
//------------------------------------------

//
// New Project form
//
.new-project-section .title {
    width: 100%;
    margin: 40px auto 0;
    padding: 10px 0;
    background-color: white;
    color: #4E82A0;
}

.new_project {
    width: 100%;
    margin: 0 0 20px;
    border: 3px solid white;
    padding: 15px 30px;
    background-color: #A8CBDF;
    color: #fff;
}

.new_project .form-group {
    text-align: left;
}

// SM screen
@media screen and ( min-width: 768px ) {
    .new_project {
        width: 80%;
    }

    .new-project-section .title {
        width: 80%;
    }
}

// MD screen
@media screen and ( min-width: 992px ) {
    .new_project {
        width: 50%;
        margin: 0 10px 20px;
    }

    .new-project-section .title {
        width: 50%;
    }
}