// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//------------------------------------------
//
// My Profile Page Styles
//
//------------------------------------------
.list-group {
    width: 80%;
    padding: 15px;
    margin: 20px auto;
    font-weight: 800;
}

.title {
    margin: 20px 0;
}

//
// Projects
//
.projects .project {
    margin: 20px 0;
}

.projects .hosted-projects {
    margin-bottom: 20px;
}

.projects .hosted-projects .project:nth-child( 2n + 1 ) {
    clear: both;
}

@media screen and ( max-width: 768px ) {
  .projects .project {
      margin: 20px 0;
      padding: 0;
  }

  .projects .list-group {
      padding: 0;
  }
}

//
// Skills
//
.skills .title {
    width: 80%;
    background-color: #78A6C2;
    margin-bottom: 0;
    color: white;
    padding: 10px 0;
}

.skills .list-group {
    border: solid 3px #78A6C2;
    background-color: white;
    margin-top: 0;

    .list-group-item {
        width: 20%;
        margin: 20px 2.5%;
        border-radius: 25px;
        color: white;
        border: solid 1px #78A6C2;
        font-size: 16px;
        font-weight: 900;
    }

    .list-group-item:nth-child( n + 1 ) {
        background-color: #B8E55E;
    }

    .list-group-item:nth-child( 2n + 1 ) {
        background-color: #78A6C2;
    }

    .list-group-item:nth-child( 3n + 1 ) {
        background-color: #8B1558;
    }

    .list-group-item:nth-child( 4n + 1 ) {
        background-color: #F5C365;
        clear: both;
    }

    .list-group-item:nth-child( 5n + 1 ) {
        background-color: #FFAAAA;
    }

    .list-group-item a {
        font-size: 10px;
    }

}

.list-group .list-group-item a {
    display: block;
}

.edit_user {
    display: block;
    clear: both;
    margin-top: 65px;
}

@media screen and ( min-width: 768px ) {

    .list-group:nth-child( 2 ) {
        .list-group .list-group-item:nth-child( 4 ),
        .list-group .list-group-item:nth-child( 5 ) {
            width: 50%;
            float: left;
        }
    }

    h1,
    h2,
    h3 {
        clear: both;
        color: #4E82A0;
        font-weight: 900;
    }

    h3:last-child {
        margin-top: 50px;
    }
}

//------------------------------------------
//
// Login Page Styles
//
//------------------------------------------

//
// New User form
//
.new_user {
    width: 80%;
    border: 2px solid white;
    padding: 15px;
    margin: 20px 10px;
    background-color: #A8CBDF;
    color: #fff;
}

  .new_user .form-group {
    text-align: left;
}

//
// >= Small Devices
//
@media screen and ( min-width: 768px ) {
    .new_user {
        width: 400px;
    }
}