// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//------------------------------------------
//
// My Profile Page Styles
//
//------------------------------------------
.list-group {
  width: 80%;
  padding: 15px;
  margin: 20px auto;
  font-weight: 800;
}

.title {
  margin: 20px 0;
}

//
// Projects
//
.projects .project {
  margin: 20px 0;
}

.projects .hosted-projects {
  margin-bottom: 20px;
}

@media screen and ( max-width: 768px ) {
  .projects .project {
    margin: 20px 0;
    padding: 0;
  }

  .projects .list-group {
    padding: 0;
  }
}

//
// Skills
//
.skills .list-group {
  .list-group-item {
    width: 30%;
    margin: 10px 1.666%;
    border-radius: 20px;
  }

  .list-group-item:nth-child( even ) {
    color: #F5C365;
    border: solid 1px #F5C365;
  }

  .list-group-item:nth-child( 2n + 1 ) {
    color: #FFAAAA;
    border: solid 1px #FFAAAA;
  }

  .list-group-item:nth-child( 3n + 1 ) {
    color: #78A6C2;
    border: solid 1px #78A6C2;
  }

  .list-group-item:first-child {
    color: #8B1558;
    border: solid 1px #8B1558;
  }

}

.list-group .list-group-item a {
  display: block;
}

.edit_user {
  display: block;
  clear: both;
  margin-top: 65px;
}

@media screen and ( min-width: 768px ) {

  .list-group:nth-child( 2 ) {
    .list-group .list-group-item:nth-child( 4 ),
    .list-group .list-group-item:nth-child( 5 ) {
      width: 50%;
      float: left;
    }
  }

  h1,
  h2,
  h3 {
    clear: both;
    color: #4E82A0;
    font-weight: 900;
  }

  h3:last-child {
    margin-top: 50px;
  }
}
