// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//------------------------------------------
//
// My Profile Page Styles
//
//------------------------------------------
.profile .title {
    margin: 20px 0;
}

//
// Projects
//
.profile .projects {
    width: 100%;
    border: 3px solid #78A6C2;
    background-color: white;
    margin: 50px auto;
}

.profile .projects .project {
    padding: 15px;
    margin: 30px 5%;
    font-weight: 800;
}

.profile .projects .project .edit,
.profile .projects .project .delete {
    font-size: 12px;
}

.profile .projects .title:first-of-type {
    background-color: #78A6C2;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    padding: 10px 0;
}

.profile .projects .hosted-projects {
    margin-bottom: 20px;
}

.profile .projects .hosted-projects .project:nth-child( 2n + 1 ) {
    clear: both;
}

.profile .projects .list-group {
    padding: 0;
}

@media screen and ( min-width: 768px ) {

    .profile .projects {
        width: 80%;
    }

    .profile .projects .project {
        margin: 30px 0;
    }

    .profile .projects .hosted-projects {
        padding: 0px 30px;
    }

    .profile .projects .project .edit,
    .profile .projects .project .delete {
        font-size: 14px;
    }
}

//
// Skills
//
.profile .skills .title {
    width: 100%;
    background-color: #78A6C2;
    margin-bottom: 0;
    color: white;
    padding: 10px 0;
}

.profile .skills .list-group {
    border: solid 3px #78A6C2;
    background-color: white;
    margin-top: 0;

    .skill {
        border-radius: 25px;
        color: white;
        border: solid 1px #78A6C2;
        font-size: 16px;
        font-weight: 900;
        margin: 20px 0;
    }

    .skill:nth-child( n + 1 ) {
        background-color: #B8E55E;
    }

    .skill:nth-child( 2n + 1 ) {
        background-color: #F5C365;
    }

    .skill:nth-child( 3n + 1 ) {
        background-color: #78A6C2;
    }

    .skill:nth-child( 4n + 1 ) {
        background-color: #8B1558;
        clear: both;
    }

    .skill:nth-child( 5n + 1 ) {
        background-color: #FFAAAA;
    }

    .skill a {
        font-size: 10px;
    }

}

.profile .skills .list-group .skill a {
    display: block;
}

.profile .skills .list-group:nth-child( 2 ) {
    .profile .list-group .list-group-item:nth-child( 4 ),
    .profile .list-group .list-group-item:nth-child( 5 ) {
        width: 50%;
        float: left;
    }
}

@media screen and ( min-width: 768px ) {

    .profile .skills .list-group,
    .profile .skills .title {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .profile .skills .list-group {
        padding: 0 35px;
    }

  .profile .skills .skill {
    margin: 0 10px;
  }
}


//
// Edit User
//
.edit_user {
  display: block;
  clear: both;
  margin-top: 65px;
}

h1,
h2,
h3 {
    clear: both;
    color: #4E82A0;
    font-weight: 900;
}

h3:last-child {
    margin-top: 50px;
}

//
// No item found
//
.profile .no-item {
    width: 80%;
}

//------------------------------------------
//
// Login Page Styles
//
//------------------------------------------

//
// New User form
//
.new_user {
    width: 80%;
    border: 2px solid white;
    padding: 15px;
    margin: 20px 10px;
    background-color: #A8CBDF;
    color: #fff;
}

  .new_user .form-group {
    text-align: left;
}

//
// >= Small Devices
//
@media screen and ( min-width: 768px ) {

    .new_user {
        width: 400px;
    }
}